@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Metamorphous&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body
{
    background-color: whitesmoke;
}
#sanda
{
    position: absolute;
    width: 350px;
    height: 400px;
    top: 120px;
    left: 150px;
}
 .sanda
{
    position: absolute;
    width: 60px;
    height: 40px;
    top: 8px;
    left: 950px;
}
#moon
{
    position: absolute;
    width: 60px;
    height: 40px;
    left: 1000px;
} 
.navbar-brand
{
 font-family: 'Trade Winds', cursive;

}
span
{
    position: absolute;
    top: 200px;
    left: 530px;
    font-size:60px;
    text-size-adjust:130px ;
    font-family: 'Trade Winds', cursive;
    color: rgba(0, 0, 0, 0.884);
}
.span
{
    position: absolute;
    top: 280px;
    left: 530px;
    font-size:60px;
    text-size-adjust:130px ;
    font-family: 'Trade Winds', cursive;
    color: rgba(0, 0, 0, 0.884);
}

p
{
    position: absolute;
    top: 365px;
    left: 530px;
    font-size: 19px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Montserrat', sans-serif;
    color: black
}
#get
{
   
    position: absolute;
    top: 440px;
    left: 530px;
    font-size: 15px;
    width: 170px;
   font-family: 'Montserrat', sans-serif;
    height: 50px;
    border-radius: 20px;
    color: white;
    border-color: tomato;
    background-color: #E74842;
}

#start
{
 position: absolute;
 top: 620px;
 left: 455px;
 font-size: 35px;
 font-family: 'Trade Winds', cursive;
 color: rgba(0, 0, 0, 0.884);
 
}
#give1
{
    position: absolute;
    width: 180px;
    height: 130px;
    top:730px;
    left:96px;
      animation: 2s give linear infinite;
}
@keyframes give
{
    0%
    {
       
        transform: translateY(15px);
    }
   10%
   {
         transform: translateY(-10px);
   }
   20%
   {
      transform: translateY(-5px); 
   }
   90%
   {
          transform: translateY(-1px); 
   }
    100%
    {
        transform: translateY(10px);
    }
}
#surprise
{
    position: absolute;
    top: 860px;
    left:135px;
    color: black;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

}
#give2
{
    position: relative;
    width: 180px;
    height: 140px;
    top:670px;
    left:396px;
      animation: 2s give linear infinite;
}
#Ornaments
{
    position: absolute;
    top: 860px;
    left:440px;
    color: black;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
#give3
{
    position: relative;
    width: 150px;
    height: 130px;
    top:675px;
    left:520px;
      animation: 2s give linear infinite;
}
#love
{
    position: absolute;
    top: 860px;
    left:745px;
    color: black;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
#count
{

    position: absolute;
    top: 1355px;
    left:130px;
    width: 525px;
    height: 500px;
    border-radius:10px;

}
.give4
{
      position: relative;
    width: 160px;
    height: 120px;
    top:  680px;
    left:720px;
      animation: 2s give linear infinite;
}
#Feeling
{
    
    position: absolute;
    left:1100px;
    top: 860px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.lot
{
    
    position: absolute;
    top: 965px;
    left:440px;
   font-size: 35px;
    font-family: 'Trade Winds', cursive;
    color: rgba(0, 0, 0, 0.884);
    
}

#cheerful
{
    position: absolute;
    width: 300px;
    height: 280px;
    top:  1005px;
    left:176px;
    
}

#para
{
    position: absolute;
    top:1070px;
    left: 560px;
    width: 580px;
    font-size: 18px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Montserrat', sans-serif;
    color: black;
    z-index: -1;
}
#send
{
    position: absolute;
    top: 1280px;
    left: 700px;
    font-size: 15px;
    width: 230px;
  font-family: 'Montserrat', sans-serif;
    height: 50px;
    color: white;
    border-radius: 50px;
    border-color: tomato;
    background-color: #E74842;
    z-index: -1;
}
#Gift
{
    
    position: absolute;
   top: 1900px;
    left:560px;
   font-size: 35px;
    font-family: 'Trade Winds', cursive;
    color: rgba(0, 0, 0, 0.884);
    z-index: -1;
    
}
#time
{
     position: absolute;
   top: 1400px;
    left:500px;
   font-size: 35px;
    font-family: 'Trade Winds', cursive;
    color: rgba(0, 0, 0, 0.884);
    z-index: -1;
}

#demo
{
    position:absolute;
    top:1710px;
    left:630px;
    z-index:4;
    font-size:45px;
     font-family: 'Trade Winds', cursive;
      color: rgba(0, 0, 0, 0.884);
      background:red;
      border-radius:10px;
      box-shadow: 5px 5px 12px black;
}
.h5
{
    position:relative;
     font-family: 'Trade Winds', cursive
     font-size:50px;
}
@media screen and (max-width:768px)
{
    #sanda
    {
        position: absolute;
        width: 318px;
        height: 400px;
        left:20px;
        top:20px;
        z-index:-5px;
          animation: 0.5s tree linear;
}
@keyframes tree
{    
     0%
        {
            opacity:0.5%;
              transform: translateY(-20px);   
        }
    
}

.box
    {
        
        position:relative;
    }

span
{
    position: absolute;
    top: 420px;
    left: 15px;
    font-size:30px;
    text-size-adjust:130px ;
    font-family: 'Trade Winds', cursive;
    color: rgba(0, 0, 0, 0.884);
}
.span
{
    position: absolute;
     top: 460px;
    left: 50px;
    font-size:30px;
    text-size-adjust:130px ;
    font-family: 'Trade Winds', cursive;
    color: rgba(0, 0, 0, 0.884);
}  
p
{
    position: absolute;
    top: 505px;
    left: 40px;
    font-size: 13px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Montserrat', sans-serif;
    color: black
}

#get
{
   
    position: absolute;
    top: 560px;
    left: 100px;
    font-size: 15px;
    width: 170px;
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    border-radius: 20px;
    color: white;
    border-color: tomato;
    background-color: #E74842;
}
 .sanda
{
    position: absolute;
    width: 60px;
    height: 50px;
    top: 8px;
    left: -5px;
}
#moon
{
    position: relative;
    width: 60px;
    height: 40px;
    left: 210px;
}  
.navbar-brand
{
 font-family: 'Trade Winds', cursive;
    margin-left:-134px;
}
#start
{
 position: absolute;
 top: 650px;
 left: 38px;
 font-size: 20px;
 font-family: 'Trade Winds', cursive;
 color: rgba(0, 0, 0, 0.884);
 
}
#give1
{
    position: absolute;
    width: 120px;
    height: 100px;
    top:700px;
    left:16px;
      animation: 2s give linear infinite;
}
@keyframes give
{
    0%
    {
       
        transform: translateY(15px);
    }
   10%
   {
         transform: translateY(-10px);
   }
   20%
   {
      transform: translateY(-5px); 
   }
   90%
   {
          transform: translateY(-1px); 
   }
    100%
    {
        transform: translateY(10px);
    }
}
#surprise
{
    position: absolute;
    top: 799px;
    left:35px;
    color: black;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

}
#give2
{
    position: relative;
    width: 120px;
    height: 130px;
    top:685px;
    left:200px;
      animation: 2s give linear infinite;
}
#Ornaments
{
    position: absolute;
    left:220px;
    top:799px;
    color: black;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
#give3
{
    position: relative;
    width: 120px;
    height: 130px;
    top:835px;
    left:-110px;
      animation: 2s give linear infinite;
}
#love
{
    position: absolute;
    top: 960px;
    left:40px;
    color: black;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
#merry
{
    display: none;
    position: absolute;
    top: 400px;
    left:1px;
    border-radius: 10px;
    width: 625px;
    height: 180px;

}
.give4
{
      position: relative;
    width: 160px;
    height: 120px;
    top:  720px;
    left:185px;
      animation: 2s give linear infinite;
}
#Feeling
{
    
    position: absolute;
    left:240px;
    top: 965px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.lot
{
    
    position: absolute;
    top: 1025px;
    left:20px;
  font-size: 20px;
    font-family: 'Trade Winds', cursive;
    color: rgba(0, 0, 0, 0.884);
    
}
#para
{
    position: absolute;
    top:1060px;
    left: 20px;
    width: 330px;
    font-size: 13px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Montserrat', sans-serif;
    color: black;
    z-index: -1;
}
#send
{
    position: absolute;
    top: 1250px;
    left: 60px;
    font-size: 15px;
    width: 230px;
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    color: white;
    border-radius: 50px;
    border-color: tomato;
    background-color: #E74842;
    z-index: -1;
}
#cheerful
{
    position: absolute;
    display:none;
    
}

#Gift
{
    
    position: absolute;
   top: 1750px;
    left:110px;
font-size: 20px;
    font-family: 'Trade Winds', cursive;
    color: rgba(0, 0, 0, 0.884);
    z-index: -1;
    
}
#time
{
     position: absolute;
   top: 1350px;
    left:70px;
   font-size: 20px;
    font-family: 'Trade Winds', cursive;
    color: rgba(0, 0, 0, 0.884);
    z-index: -1;
}

#count
{

    position: absolute;
    top: 1315px;
    left:10px;
    width: 325px;
    height: 350px;
    border-radius:10px;

}
#demo
{
    position:absolute;
    top:1650px;
    left:68px;
    z-index:4;
    font-size:30px;
     font-family: 'Trade Winds', cursive;
      color: rgba(0, 0, 0, 0.884);
       background: linear-gradient(to right,rgb(237, 168, 179) ,rgb(161, 254, 161));
      border-radius:10px;
      box-shadow: 5px 5px 12px black;
}
}
    
    
    
